@model CartViewModel

<style>


    .card-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .card {
        width: 200px;
        margin: 20px;
        min-height: 200px;
        padding: 10px;
        color: black;
    }

    a   {
        text-decoration: none;
    }

    .card:hover {
        transform: scale(1.2);
        transition: all 0.1s;
    }

    .card-title {
        font-weight: bold;
    }

    .image-arrow {
        width: 96px;
        height: 96px;
        padding-top: 55px;
        box-sizing: border-box;
        object-position: 0px 0px;
    }
    .button_arrow {
        width: 96px;
        height:200px;
        background: transparent;
        border: none !important;
    }
</style>

@{
    ViewData["Title"] = "Home Page";
}
<h2>Books Genre</h2>
<div class="card-container">
    
    @foreach (var product in Model.BooksProducts!)
    {
        <a asp-action="Details" asp-controller="Products" asp-route-id="@product.Id">
        <div class="card">
            <h3>@product.Name</h3>
            <hr/>
            <p>@product.Author</p>
        </div>
        </a>
    }
    <button type="submit" name="Arrow_books" value="Accept" formaction=@Url.Action("index()") formmethod="post" class="button_arrow">
        <img src="/images/arrow.png" class="" width="96" height="96" />
        </button>
   <!-- <button name="Arrow_books" onclick="location.href='Url.Action("ActionName", "GetShuffledCardsForGenre(1, 4")'" class="button_arrow">
        <img src="/images/arrow.png" class="" width="96" height="96"/>
    </button> -->
</div>
<h2>Movies Genre</h2>
<div class="card-container">
    @foreach (var product in Model.MoviesProducts!)
    {
        <a asp-action="Details" asp-controller="Products" asp-route-id="@product.Id">
        <div class="card">
            <h3>@product.Name</h3>
            <hr />
            <p>@product.Author</p>
        </div>
        </a>
    }
    <button name="Arrow_books" value="ActionOne" class="button_arrow">
        <img src="/images/arrow.png" class="" width="96" height="96" />
    </button>
</div>

<h2>Games Genre</h2>
<div class="card-container">
    @foreach (var product in Model.GamesProducts!)
    {
        <a asp-action="Details" asp-controller="Products" asp-route-id="@product.Id">
        <div class="card">
            <h3>@product.Name</h3>
            <hr />
            <p>@product.Author</p>
        </div>
        </a>
    }
    <button name="Arrow_books" value="ActionOne" class="button_arrow">
        <img src="/images/arrow.png" class="" width="96" height="96" />
    </button>
</div>